*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    overflow-y: hidden;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: green;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    width: 40vw;
    height: 40vh;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 20% 50% 30%;
    flex-wrap: wrap;
    padding: 30px;
}

.titulo{
    display: flex;
    margin: 0;
    justify-content: center;
    gap: 7px;
}   

.gerar{
    width: 100%;
    display: flex;
    gap: 7px;
    height: 70%;
    margin-top: 30px;
}

.gerar > input{
    width: 70%;
    padding: 15px;
    font-size: large;
    color: darkgreen;
    border-radius: 10px;
    border: 2px solid grey;
    user-select: none;
}

button{
    width: 15%;
    background-color: green;
    color: white;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.resultado{
    display: none;
    color: grey;
    font-size: 15px;
    padding-top: 10px;
}

.resultado > input{
    width: 100%;
    padding: 2px 5px;
    border-radius: 5px;
    border: 2px solid darkgrey;
    user-select: none;
    margin-bottom: 3px;
}

@media screen and (max-width: 720px) {
    .container {
        width: 85vw;
        height: 60vh;
    }

    .titulo{
        flex-direction: column-reverse;
        align-items: center;
    }
    .titulo > h1{
        font-size: 23px;
        width: 100%;
    }
    .titulo > img{
        width: 35px;
        margin-top: -10px;
    }
    .gerar {
        height: 30%;
        width: 100%;
        flex-wrap: wrap;
    }

    .gerar > input{
        width: 100%;
    }

    button{
        width: 48%;
        height: 100%;
    }

    .resultado > input{
        height: 30%;
        padding: 15px;
        margin-bottom: 10px;
    }
    .resultado > p {
    }
}