*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root{
  --roxinho: #530CC5;
  --botao: #5D5DE7;
}

body{
  background-color: var(--roxinho);
  width: 100vw;
  height: 100vh;
  display: flex;
  /* text-align: center; */
  justify-content: center;
  align-items: center;
}

.container{
  background-color: #ffff;
  border-radius: 5px;
  height: 50%;
  padding: 25px 40px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 10% 75% 5% 10%; 
}

.campos-container{
  width: 95%;
  height: 80%;
  margin: auto;
}

textarea{
  width: 100%;
  height: 75%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 20px;
}

.contador{
  text-align: center;
  width: 95%; 
  margin: auto;
  margin-top: -10px;
  color: grey;
}

button{
  width: 30%;
  margin: auto;
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: var(--botao);
  color: #ffff;
  font-size: 18px;
}

h1 {
  color: var(--roxinho)
}


