* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(25,2,45,1) 0%, rgba(70,7,124,1) 37%, rgba(49,14,106,1) 100%);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: rgba(255, 255, 255, 0.9);
  width: 50vw;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.campos-container {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}

.contador {
  margin-bottom: 20px;
}

#btn-contar {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4CAF50;
  color: #fff;
  font-size: 1rem;
  transition: background-color 0.3s;
}

#btn-contar:hover {
  background-color: #45a049;
}
